<div class="container">
  <br>
  <div class="row">
    <form>
      <fieldset>
        <h1 class="display-5 text-center">Completa el formulario para agregar tu vehículo.</h1>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Usuario</label>
          <div class="col-sm-10">
            <input type="text" readonly="" class="form-control-plaintext text" id="staticEmail" value="Fulanit de Tal">
          </div>
        </div>
        <div class="form-group">
          <label for=placa>Código de la Placa</label>
          <input type="email" class="form-control" id="placa" aria-describedby="emailHelp" placeholder="Formato AAA 000">
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad de la Placa</label>
          <input type="text" class="form-control" id="ciudad" placeholder="Medellin, Bogota, Manizales...">
        </div>
        <div class="form-group">
            <label for="tipo">Tipo de Vehículo</label>
            <input type="text" class="form-control" id="ciudad" placeholder="Moto, Camioneta, Bus...">
        </div>
        </fieldset>
        <button type="submit" class="btn float-right btn-dark" style="background-color:#30477d">Agregar</button>
    </form> 
  </div>
</div>