<div class="container">
  <div class="jumbotron">
    <div class="main row">
      <div class="col"> </div>
      <div class="col-xs-12 sm-10">
        <h1 class="display-4 text-center">Bienvenido a tus Vehículos!</h1>
        <p class="lead text-justify">El sistema de Vehículos Bancolombia le permite los pagos de forma y segura en lugares donde usted se encuentra dentro
          de sus vehículos, algunos de estos lugares son: Estaciones de Servicio, parqueaderos, peajes, etc.
        </p>
        <hr class="xs-4 text-justify">
        <p>Usted aún no poseé ningún vehículo registrado. Si desea registrarlo presione el botón “Añadir Vehículo”.</p>
        <p class="lead">
          <a class="btn btn-lg btn-right btn-dark float-right" style="background-color:#30477d" [routerLink]="['/crear']" role="button">Añadir Vehículo</a>
        </p>

      </div>
      <div class="col"></div>
    </div>
  </div>

  <br>
  <table class="table table-striped text-light" style="background-color:#30477d">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Código de Placa</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>STR 000</td>
        <td>Bogota</td>
        <td>Carro</td>
        <td>Activo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>SRT 001</td>
        <td>Medellín</td>
        <td>Moto</td>
        <td>Activo</td>
      </tr>
    </tbody>
  </table>
  <!--Amarillo bank #ffd200-->
</div>